.zhengsubeijing1 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 69px;
	left: 0px;
	bottom: 422px;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: "shousha";
	font-size: 18px;
	font-weight: 700;
	z-index: 8 !important;
}

.zhengsubeijing2 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 69px;
	left: 0px;
	bottom: 344px !important;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: "shousha";
	font-size: 17px;
	font-weight: 500;
	z-index: 8 !important;
}

.zhengsubeijing3 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 68px;
	left: 0px;
	bottom: 266px !important;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: "shousha";
	font-size: 17px;
	font-weight: 500;
	z-index: 8 !important;
}

/*仁库*/
.renkubeijinggua {
	/*position:relative;*/
	--l: 15px;
	--t: 100px;
	background-repeat: no-repeat;
	background-image: url("image/default/renku_bg.png") !important;
	background-size: 100% 100%;
	width: 70.5px;
	height: 42.5px;
	left: calc(var(--l));
	top: calc(var(--t));
	letter-spacing: 3.2px;
	position: absolute;
	transition: none;
	padding: 28.5px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #e2e0dc;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: "shousha";
	font-size: 17px;
	font-weight: 900;
	z-index: 8 !important;
}

/*感谢 雷 的技术支持
.bol-dibeijing {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
}

.bol-skilltip {
	width: 20%;
	min-height: 5%;
	left: 50%;
	top: 50%;
	font-size: 16px;
	color: #ccad76;
	font-family: "shousha";
	background-color: rgba(36, 29, 19, 0.85);
	border: #523a24 3px solid;
	border-radius: 10px;
	position: absolute;
	display: block;
	padding: 8px;
	transform: translate(-50%, -50%);
	transition: none;
}
*/

/*曹丕登阶*/
.dialog.dengjie-game:not(.player) {
	width: fit-content;
	height: fit-content;
}

.dialog.dengjie-game > .content-container {
	position: relative;
}

.dialog.dengjie-game > .content-container > .content {
	position: relative;
}

.dialog.dengjie-game .dengjie-game-container {
	position: relative;
}

table.dengjie-game {
	--cell-spacing: 10px;
	border-spacing: var(--cell-spacing);
}

td.dengjie-game {
	--block-size: 40px;
	--border-radius: calc(var(--block-size) / 8);
	width: var(--block-size);
	height: var(--block-size);
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--border-radius);
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-left: var(--cell-spacing);
	float: left;
}

td.dengjie-game > .arrow-container {
	position: absolute;
	font-size: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
}

td.dengjie-game > .arrow-container > .arrow {
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

td.dengjie-game > .arrow-container.new-gain > .arrow {
	background-color: #007dbd;
}

td.dengjie-game > .arrow-container.new-lose > .arrow {
	background-color: #c50000;
}

td.dengjie-game > .arrow-container.old > .arrow {
	background-color: #494949;
}

td.dengjie-game > .arrow-container.new-gain {
	background-color: #007dbd;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(0, 125, 189, 1) 0 0 5px, rgba(0, 125, 189, 1) 0 0 5px, rgba(0, 125, 189, 1) 0 0 10px, rgba(0, 125, 189, 1) 0 0 10px !important;
}

td.dengjie-game > .arrow-container.new-lose {
	background-color: #c50000;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(197, 0, 0, 1) 0 0 5px, rgba(197, 0, 0, 1) 0 0 5px, rgba(197, 0, 0, 1) 0 0 10px, rgba(197, 0, 0, 1) 0 0 10px !important;
}

td.dengjie-game > .arrow-container.old {
	background-color: #494949;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(73, 73, 73, 1) 0 0 5px, rgba(73, 73, 73, 1) 0 0 5px, rgba(73, 73, 73, 1) 0 0 10px, rgba(73, 73, 73, 1) 0 0 10px !important;
}

td.dengjie-game.selectable {
	cursor: pointer;
}

td.dengjie-game:first-child {
	margin: 0px;
}

.dialog.dengjie-game > .content-container > .content > div:last-child {
	padding-bottom: 0px;
}

td.dengjie-game > .button.character {
	--expand-size: calc(var(--cell-spacing) - 4px);
	width: var(--block-size);
	height: var(--block-size);
	border-radius: var(--border-radius);
	margin: 0px;
	pointer-events: none;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

td.dengjie-game > .button.character > .score {
	border-radius: var(--border-radius);
	font-size: 12px;
	width: 35%;
	height: 35%;
}

td.dengjie-game > .button.character > .score.gain {
	background-color: #007dbd;
}

td.dengjie-game > .button.character > .score.lose {
	background-color: #c50000;
}

/*吕布踏阵*/
.button.character.tazhen {
	width: 108px !important;
	height: 150px !important;
}

.button.card.tazhen {
	width: 108px !important;
	height: 150px !important;
}

/*诸葛亮定乱*/
.dingluan-tube-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 20px;
	flex-wrap: wrap;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}

.dingluan-tube {
	width: 60px;
	height: 200px;
	background: #221a0f;
	border: 2px solid #8b6f45;
	border-radius: 10px;
	position: relative;
	display: block;
	padding: 0 5px;
	margin: 0 10px;
	box-sizing: border-box;
	cursor: pointer;
	transition: border-color 0.2s;
	flex-shrink: 0;
	overflow: visible;
}

.dingluan-tube.selected {
	border-color: #ffdf66;
	box-shadow: 0 0 10px #ffdf66;
}

.dingluan-piece {
	display: block;
	width: 48px;
	height: 24px;
	background: #ccb183;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	text-align: center;
	line-height: 24px;
	font-size: 14px;
	font-family: "shousha";
	color: #000;
	border-radius: 6px;
	box-shadow: inset 0 0 3px #000;
	pointer-events: none;
	box-sizing: border-box;
	/*transition: bottom 0.3s ease;移除动画，懒得加*/
}

/*神左慈幻术卡牌颜色*/
.card.minihuanshu-glow:before {
	opacity: 0.2;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgb(255, 109, 12) 0 0 5px, rgb(255, 0, 0) 0 0 10px;
	background-color: #0000ff;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

/*神左慈幻化卡牌颜色*/
.card.minihuanhua-glow:before {
	opacity: 0.2;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgb(255, 109, 12) 0 0 5px, rgb(255, 0, 0) 0 0 10px;
	background-color: yellow;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.player .hp2 > div {
	width: 10px;
	height: 10px;
	margin-left: 0;
}

/*新体力体力条*/
.player .hp2 {
	width: 18px;
	line-height: 16px;
	text-align: center;
	bottom: 18px;
	top: auto;
	left: 102px;
	z-index: 3;
}

#arena.slim_player .player .hp2,
#window > .player:not(.minskin) .hp2 {
	bottom: 15px;
	left: 105px;
}

#window > .player.minskin .hp2 {
	left: 91px;
}

.player .hp2.text {
	font-family: "xinwei";
	transform: none;
	transition: all 0s;
	left: 98px;
}

.player .hp2.text > div:last-child {
	top: 4px;
}

.player .hp2.long {
	bottom: 12px;
	max-height: 160px;
}

#arena.slim_player .player .hp2.long {
	bottom: 9px;
}

.player .hp2.long > div:first-child {
	margin-top: 7px;
}
.hp2 {
	left: 102px;
	top: 14px;
	width: 72px;
	line-height: 14px;
	text-align: left;
}
.hp2.text {
	top: 18px;
}
.hp2.textstyle {
	font-family: "xinwei";
}
.hp2 > div {
	width: 8px;
	height: 8px;
	margin-left: 3px;
	position: relative;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, 0.2) 1px -1px 2px inset, rgba(255, 255, 255, 0.15) -1px 1px 5px inset;
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
	transition: all 0.5s;
	background-repeat: no-repeat;
}
.button .hp2 > div {
	width: 6px;
	height: 6px;
	background: white;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
}
.button .hp2 > .shield {
	background: rgba(63, 119, 173, 1);
	border: 1px solid rgba(63, 119, 173, 1);
}
.hp2[data-condition="hidden"] > div:not(.lost):not(.shield) {
	background-image: url("../../theme/style/hp/image/hidden_hp.png") !important;
	width: 12px;
	height: 12px;
	background-size: 100% 100%;
	box-shadow: none;
}
.hp2[data-condition="high"] > div:not(.lost):not(.shield) {
	background: rgba(57, 123, 4, 1);
	border: 1px solid rgba(39, 79, 7, 1);
}
.hp2[data-condition="mid"] > div:not(.lost):not(.shield) {
	background: rgba(166, 140, 6, 1);
	border: 1px solid rgba(79, 64, 7, 1);
}
.hp2[data-condition="low"] > div:not(.lost):not(.shield) {
	background: rgba(148, 27, 27, 1);
	border: 1px solid rgba(79, 7, 7, 1);
}
.hp2.actcount > div:not(.lost):not(.shield) {
	background: rgba(63, 119, 173, 1);
	border: 1px solid rgba(31, 82, 131, 1);
}
.treasure > .hp2 > div:not(.lost):not(.shield) {
	background: rgba(63, 119, 173, 1) !important;
	border: 1px solid rgba(31, 82, 131, 1) !important;
}
.hp2.actcount > div.overflow:not(.lost):not(.shield) {
	background: rgb(154, 154, 154);
	border: 1px solid rgb(109, 109, 109);
}
.hp2.actcount.overflow2 > div.overflow:not(.lost):not(.shield) {
	background: rgb(173, 129, 63);
	border: 1px solid rgb(131, 109, 31);
}
.hp2.actcount > .lost {
	background: rgba(63, 119, 173, 1);
	border: 1px solid rgba(31, 82, 131, 1);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.hp2 > .lost {
	background: rgba(57, 123, 4, 1);
	border: 1px solid rgba(39, 79, 7, 1);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.hp2 > .shield {
	background: rgba(63, 119, 173, 1);
	border: 1px solid rgba(31, 82, 131, 1);
}
.hp2.text[data-condition="low"],
.hp2.textstyle[data-condition="low"] {
	text-shadow: black 0 0 1px, rgba(232, 53, 53, 1) 0 0 2px, rgba(232, 53, 53, 1) 0 0 5px, rgba(232, 53, 53, 1) 0 0 10px;
}
.hp2.text[data-condition="mid"],
.hp2.textstyle[data-condition="mid"] {
	text-shadow: black 0 0 1px, rgba(255, 203, 0, 1) 0 0 2px, rgba(255, 203, 0, 1) 0 0 5px, rgba(255, 203, 0, 1) 0 0 10px;
}
.hp2.text[data-condition="high"],
.hp2.textstyle[data-condition="high"] {
	text-shadow: rgba(57, 123, 4, 1) 0 0 2px, rgba(57, 123, 4, 1) 0 0 5px, rgba(57, 123, 4, 1) 0 0 10px;
}
