.zhengsubeijing1 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 69px;
	left: 0px;
	bottom: 422px;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: shousha;
	font-size: 18px;
	font-weight: 700;
	z-index: 8 !important;
}

.zhengsubeijing2 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 69px;
	left: 0px;
	bottom: 344px !important;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: shousha;
	font-size: 17px;
	font-weight: 500;
	z-index: 8 !important;
}

.zhengsubeijing3 {
	position: absolute;
	background-color: none;
	background-repeat: no-repeat;
	background-image: url("image/default/zhengsu_bg.png") !important;
	background-size: 100% 100%;
	width: 205px;
	height: 68px;
	left: 0px;
	bottom: 266px !important;
	padding: 10px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #ac9a82;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: shousha;
	font-size: 17px;
	font-weight: 500;
	z-index: 8 !important;
}

/*仁库*/
.renkubeijinggua {
	/*position:relative;*/
	--l: 15px;
	--t: 100px;
	background-repeat: no-repeat;
	background-image: url("image/default/renku_bg.png") !important;
	background-size: 100% 100%;
	width: 70.5px;
	height: 42.5px;
	left: calc(var(--l));
	top: calc(var(--t));
	letter-spacing: 3.2px;
	position: absolute;
	transition: none;
	padding: 28.5px 2px 2px 2px;
	/*内边距*/
	/*字体*/
	text-align: center;
	color: #e2e0dc;
	text-shadow: -1.3px 0px 2.2px #000, 0px -1.3px 2.2px #000, 1.3px 0px 2.2px #000, 0px 1.3px 2.2px #000;
	font-family: shousha;
	font-size: 17px;
	font-weight: 900;
	z-index: 8 !important;
}

/*感谢 雷 的技术支持*/
.bol-dibeijing {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 8;
}

.bol-skilltip {
	width: 20%;
	min-height: 5%;
	left: 50%;
	top: 50%;
	font-size: 16px;
	color: #ccad76;
	font-family: "shousha";
	background-color: rgba(36, 29, 19, 0.85);
	border: #523a24 3px solid;
	border-radius: 10px;
	position: absolute;
	display: block;
	padding: 8px;
	transform: translate(-50%, -50%);
	transition: none;
}

.dialog.dengjie-game:not(.player) {
	width: fit-content;
	height: fit-content;
}

.dialog.dengjie-game > .content-container {
	position: relative;
}

.dialog.dengjie-game > .content-container > .content {
	position: relative;
}

.dialog.dengjie-game .dengjie-game-container {
	position: relative;
}

table.dengjie-game {
	--cell-spacing: 10px;
	border-spacing: var(--cell-spacing);
}

td.dengjie-game {
	--block-size: 40px;
	--border-radius: calc(var(--block-size) / 8);
	width: var(--block-size);
	height: var(--block-size);
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--border-radius);
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-left: var(--cell-spacing);
	float: left;
}

td.dengjie-game > .arrow-container {
	position: absolute;
	font-size: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
}

td.dengjie-game > .arrow-container > .arrow {
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

td.dengjie-game > .arrow-container.new-gain > .arrow {
	background-color: #007dbd;
}

td.dengjie-game > .arrow-container.new-lose > .arrow {
	background-color: #c50000;
}

td.dengjie-game > .arrow-container.old > .arrow {
	background-color: #494949;
}

td.dengjie-game > .arrow-container.new-gain {
	background-color: #007dbd;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(0, 125, 189, 1) 0 0 5px, rgba(0, 125, 189, 1) 0 0 5px, rgba(0, 125, 189, 1) 0 0 10px, rgba(0, 125, 189, 1) 0 0 10px !important;
}

td.dengjie-game > .arrow-container.new-lose {
	background-color: #c50000;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(197, 0, 0, 1) 0 0 5px, rgba(197, 0, 0, 1) 0 0 5px, rgba(197, 0, 0, 1) 0 0 10px, rgba(197, 0, 0, 1) 0 0 10px !important;
}

td.dengjie-game > .arrow-container.old {
	background-color: #494949;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px, rgba(73, 73, 73, 1) 0 0 5px, rgba(73, 73, 73, 1) 0 0 5px, rgba(73, 73, 73, 1) 0 0 10px, rgba(73, 73, 73, 1) 0 0 10px !important;
}

td.dengjie-game.selectable {
	cursor: pointer;
}

td.dengjie-game:first-child {
	margin: 0px;
}

.dialog.dengjie-game > .content-container > .content > div:last-child {
	padding-bottom: 0px;
}

td.dengjie-game > .button.character {
	--expand-size: calc(var(--cell-spacing) - 4px);
	width: var(--block-size);
	height: var(--block-size);
	border-radius: var(--border-radius);
	margin: 0px;
	pointer-events: none;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

td.dengjie-game > .button.character > .score {
	border-radius: var(--border-radius);
	font-size: 12px;
	width: 35%;
	height: 35%;
}

td.dengjie-game > .button.character > .score.gain {
	background-color: #007dbd;
}

td.dengjie-game > .button.character > .score.lose {
	background-color: #c50000;
}

.button.character.tazhen {
	width: 108px !important;
	height: 150px !important;
}

.button.card.tazhen {
	width: 108px !important;
	height: 150px !important;
}
